/* GENERAL */

.page-id-466 #ds-container > div.container > div > div:nth-child(1) > div{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: none !important;
}
.page-id-466 #ds-container > div.container > div > div:nth-child(1) > div > article > div > fieldset{
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.page-id-466 #respond{
    min-height: 370px;
}

/* FONTS */

.page-id-466 #ds-container > div.container > div > div:nth-child(1) > div > article > header > h1{
    font-size: 50px;
    /* text-align: center;
    text-transform: uppercase; */
    line-height: 75px;
    border-bottom: 1px solid #5bc2fd ;
}
.page-id-466 #ds-container > div.container > div > div:nth-child(1) > div > article > div > fieldset > h1{
    margin-bottom: 5px;
}
#custom-profile-hello-message{
    color: #3ba1da;
    font-size: 25px;
    margin-bottom: 70px;
}

/* DISPLAY NONES */

 .page-id-466 #ds-container > div.container > div > div:nth-child(1) > div > article > footer{
    display: none;
}
#ds-container > div.container > div > div:nth-child(1) > div > .normal-comments{
    display: none;
}

/* BUTTONS */

.profile-edit-listing-button,
#alumni_profile_update_submit{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border-radius: 4px;
    color: #FFFFFF !important;
    background-color: #3ba1da;
    border: #3ba1da;
    margin-top: 21px;
}
.profile-edit-listing-button:hover,
#alumni_profile_update_submit:hover{
    background-color: #286f96;
}



