.page-id-402 #ds-container > div.container > div > div:nth-child(1){
    max-width: 70%;
    margin: 0 auto;
}
.page-id-402 .content-box, .geodir-listing-search .gd-search-bar-style{
    box-shadow: none !important;
}